.resizer-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background-color: transparent; /* 透明背景 */
  cursor: col-resize;
  z-index: 2;
}

.resizer-handle:hover {
  background-color: #007bff; /* hover 时变色提示 */
}
